.about {
  p {
    font-size: 24px;
  }
}

.intro {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @include mobile {
    flex-direction: column;
  }

  h3 {
    font-size: 56px;

    @include mobile {
      margin: 25px 0;
    }
  }
}

.parallaxWrapper {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: auto;

  .parallaxImage {
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: transform 0.1s ease-out;
    will-change: transform;
  }
}

.button {
  width: fit-content;
  margin-top: 50px;
}